# Application
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=true

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=be_challenge_db
POSTGRES_HOST=db # run on the docker network
POSTGRES_PORT=5432

# Constructed from above
# Change also here if you change the above values
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/be_challenge_db

# JWT
JWT_SECRET_KEY=change-me-in-production
